In [1]:
1st_var = 'hello'
print(1st_var)

SyntaxError: invalid decimal literal (2829372498.py, line 1)

In [2]:
f1st_var = 'hello'
print(f1st_var)

hello

In [4]:
### pass este folosit ca un keyword
pass = 'hello'
print(pass)

SyntaxError: invalid syntax (3319671061.py, line 2)

In [ ]:
## Python este case sensitive
greeting = 'hello'
print(Greeting)
Greeting = 'How are you'

NameError: name 'Greeting' is not defined

In [6]:
greeting = 'hello'
Greeting = 'How are you'
print(Greeting)

How are you

In [7]:
print(Greeting)

How are you

In [8]:
print(greeting)

hello

# True este o valoare booleana

In [12]:
has_greeted = True
print(has_greeted, type(has_greeted))

True <class 'bool'>

In [13]:
has_greeted = "true"
print(has_greeted, type(has_greeted))

true <class 'str'>

# true poate fi numele unei variabile

In [14]:
true = 200

has_greeted = true
print(has_greeted, type(has_greeted))

200 <class 'int'>

In [ ]:
has_greeted = false
print(has_greeted, type(has_greeted))

In [15]:
print (9//2)

4

In [16]:
print (9/2)

4.5

In [17]:
print (9/3)

3.0

In [18]:
print (9//3)

3

In [19]:
print (9*"2")

222222222

# Concatenare (alipirea a 2 stringuri)

In [20]:
print ("2" + "2")

22

In [22]:
print (3*"2")
print ("2" + "2" + "2")

222
222

# Inmultirea unui string cu float nu este posibila

In [23]:
print ("2"*9.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
print ("2" *  9.1)

In [24]:
print ("2" *  int(9.1))

222222222

In [25]:
x = 321.31241341
print(int(x))

321

In [26]:
print (int("2") *  9.2)

18.4

In [27]:
x = "312312"
print(x, type(x))

312312 <class 'str'>

In [28]:
x = 312312
print(x, type(x))

312312 <class 'int'>

In [29]:
x = "312312"
x = int(x)

print(x, type(x))

312312 <class 'int'>

In [31]:
x = "312312@"
x = int(x)

print(x, type(x))

ValueError: invalid literal for int() with base 10: '312312@'

## Nu are sens

In [32]:
print ("2"*"9")

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
print (9+"2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
print(9 + "2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Concatenare

In [35]:
print(str(9) + "2")

92

# Adunare

In [36]:
print(9 + int("2"))

11

In [37]:
print(9 + float("2"))

11.0

# Int si float sunt compatibile 100%

In [40]:
23 + 10.0

33.0

In [41]:
10/2

5.0

In [42]:
3 * 2.0

6.0

In [43]:
int(31312.0412)

31312

In [44]:
float(23)

23.0

In [45]:
x = "312.0"
print(x, type(x))

312.0 <class 'str'>

In [46]:
x = "312.0"
x = float(x)
print(x, type(x))

312.0 <class 'float'>

In [48]:
x = "312.0"
x = int(float(x))
print(x, type(x))

312 <class 'int'>

In [ ]:
print (9 ** 2)

81

In [52]:
print (81 ** (0.5))

9.0

In [55]:
print (81 ** (1/2))

9.0

# Python urmeaza principiile matematice

In [54]:
print (2*1**2)

2

In [56]:
print (2 * (1**2) )

2

In [ ]:
print ('a'+'b' * 2 + 4 * 'a' )

abbaaaa

# Operatorul * are precedență față de operatorul +

In [58]:
print ('a'+'bb' + 'aaaa' )

abbaaaa