In [1]:
name = "robert"
print(name == "Robert")

False

In [2]:
name = "robert"
print("robert" == "Robert")

False

# Nomenclatura

In [4]:
_T = "1234___"
_T

'1234___'

In [5]:
123abc = 1234

SyntaxError: invalid decimal literal (2811900234.py, line 1)

In [8]:
# nu poate incepe cu cifra
d123abc = 1234

In [9]:
my-var = "1234"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3684816543.py, line 1)

In [11]:
my = 23
var = 23
my-var == "1234"

False

In [13]:
my_var_ = "1234?"
my_var_

'1234?'

In [14]:
my#var = 0.0

23

In [15]:
a = 10
b = 0
print ( a/b )  if (b > 0 ) else print ( a )

10

In [16]:
a = 10
b = 0
print ( a/b )

ZeroDivisionError: division by zero

In [17]:
a = 10
b = 0
if (b > 0 ):
    print ( a/b )  
else:
     print ( a )

10

In [18]:
a = 10
b = 0
if (b == 0 ):
    print ( a/b )  
else:
     print ( a )

ZeroDivisionError: division by zero

# Operator ternar (3 operanzi)

In alte limbaje (ex: C++)

# 10 > 3 ?   "DA" : "NU"

In [1]:
x = "DA"  if 10 > 3 else "NU"
print(x)

DA

In [ ]:
x = "DA" if 10 > 30 else "NU"
print(x)

NU